header {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 5.75rem 3.06rem 5.75rem 3.65rem;
}
.header_logo {
    margin: auto;
    width: 9.25rem;
    height: 6.5625rem;
}
.header_link {
    display: inline-grid;
    grid-template-columns: 1fr 2fr 2fr;
    align-items: center;
    letter-spacing: 1px;
}
.activ_link {
    list-style-type:none;
}
.link_start {
    text-decoration: none;
}
.see_link {
    list-style-type:circle;
    position: relative;
    left: 10px;
    text-underline-offset: 5px;
    top:2px;
}
.see_about {
    list-style-type:circle;
    position: relative;
    left: 12px;
    text-underline-offset: 5px;
    top:2px;
}

.header_contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #000;
    font-family: Raleway;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.51875rem; /* 135% */
    position: relative;
    left: 210px;
    top: -3px;
}

.number {
    list-style-type:none;
    text-underline-offset: 4px;
}
.mail {
    list-style-type:none;
    text-decoration: underline;
    text-underline-offset: 5px;
}
.adress {
    list-style-type:none;
}
/*---------------секция main ----------*/
cover {
    position: absolute;
    background-image: url("../images/cover.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0.2rem;
    width: 90rem;
    height: 47.31rem;

}
.cover_title {
    color: #FFF;
    font-family: Raleway;
    font-size: 6.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 115%;
    letter-spacing:  1.875rem;
    text-transform: uppercase;
    z-index: 1;
    margin: 10.31rem 3.12rem 14.81rem 3.12rem;
}
.tittle1_span {
    letter-spacing:  3.75rem;
    position: relative;
    right: 3.1rem;
}
.tittle2_p {
    text-align: center;
    position: relative;
    right: 1.75rem;
    top: 0.85rem;
}

.tittle2_span {
   position: relative;
    left: 2rem;
}

.tittle3_p {
    text-align: end;
    position: relative;
    left: 0.2rem;
    top: 1.2rem;
}

.tittle3_span {
    position: relative;
    left: 1.8rem;
}

.nobody_never {
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem; /* 127.273% */
    text-transform: uppercase;
}